---
// src/components/CommitteeMembers.astro
import { z } from "astro/zod";
import { Card } from "@astrojs/starlight/components";

const { frontmatter } = Astro.props;

const committee = z
  .object({
    chairs: z.array(z.string()),
    winter_chair: z.string().optional(),
    members: z.array(z.string()).optional(),
    email: z.string().email().optional(),
  })
  .parse(frontmatter.committee);
---

<Card title="Leadership">
  <ul>
    {committee.chairs.map((chair) => <li>{chair}, Chair</li>)}
    {committee.winter_chair && <li>{committee.winter_chair}, Winter Chair</li>}
  </ul>

  {
    committee.members && committee.members.length > 0 && (
      <>
        <h4>Members</h4>
        <ul>
          {committee.members.map((member) => (
            <li>{member}</li>
          ))}
        </ul>
      </>
    )
  }

  {
    committee.email && (
      <p>
        Contact the committee at{" "}
        <a href={`mailto:${committee.email}`}>{committee.email}</a>
      </p>
    )
  }
</Card>
